<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>{{ title }}</title>
</head>
<body class="">
<header class="m-4 flex justify-center">
    <div class="align-center w-fit bg-slate-900 italic text-white/90 text-2xl pt-4 pb-4 pr-4 pl-4 rounded-xl backdrop-blur-lg shadow-lg ring-1 ring-slate-950 sticky top-0">
        barb
    </div>
</header>
<main>
    <div class="m-3">
        {% block content %}
        {% endblock %}
    </div>

</main>
<footer>
    <p class="text-center m-5">&copy; 2025 Barbershop</p>
</footer>
</body>
</html>