{% macro info(content, class="") %}
<!--    <div class="{{ class }}">{{ content }}</div>-->
<div class="{{ class }}">
    <div class="text-2xl font-bold mb-1">Find Us</div>
    <div class="mb-2">Rewolucji 1905 roku 52, </br>90-213 Łódź</div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1059.7367843892505!2d19.466288785797047!3d51.776517220105916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471bcb27b1d5ccfd%3A0x708c25f6ab60a9af!2sSzko%C5%82y%20Edukacji%20Innowacyjnej%20w%20%C5%81odzi!5e0!3m2!1sen!2spl!4v1738158639040!5m2!1sen!2spl"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endmacro %}